# debug amd release dirs
Debug
Release
**/Debug
**/Release
boost
libGeographic/windows/Debug
libGeographic/windows/Release
WindowsTestCs/bin
WindowsTestCs/obj
ipch
*.sdf
*.opensdf
*.suo
*.bsgf
*.log
*.tlog
*.ilk
*.pdb
*.obj
*.exe
*.dll
*.exp
*.idb
*.lib
*.sdf
*.lastbuildstate
*.bmp
*.png